<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b66870">  <td>18/09/16 20:04:50</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ExecuteTest.beforeTest()[pri:0, instance:com.c2t.framework.hybrid.ExecuteTest@7823a2f9]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1179381257</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>18/09/16 20:05:05</td>   <td>14908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecuteTest.testLogin()[pri:0, instance:com.c2t.framework.hybrid.ExecuteTest@7823a2f9]">testLogin</td> 
  <td>main@1179381257</td>   <td></td> </tr>
</table>
